@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Lato", sans-serif;
    text-shadow: 0px 0px 5px #242424;
}

body{
    background-repeat: repeat;
    image-rendering: pixelated;
    background-size: contain;
    background-position: center;
    min-height: 100vh;
    margin: 1rem;
}

.dash-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1{
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
}

.top-menu .link-contain{
    display: flex;
    flex-direction: row;
}

#link, #focus, #wordle, #calendar{
    display: flex;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
    margin-right: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
}

.link-contain svg{
    pointer-events: none;
}

.link-contain div:first-child{
    position: relative;
}

.link-contain div:first-child:hover .link-formwrap, .link-formwrap:hover, .link-formwrap:active{
    display: flex;
}

.link-formwrap{
    display: none;
    flex-direction: column;
    position: absolute;
    right: calc(-75px - 5rem);
    transition: all ease-in 2ms;
}

.show{
    display: flex;
}

.link-flex{
    display: flex;
    flex-direction: row;
    background-color: #464646;
    padding: 1rem .5rem .5rem .5rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.link-flex div{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
}

.link-flex button i:hover{
    color: red;
}

.link-flex p{
    font-size: 1rem;
}

.link-contain a{
    cursor: pointer;
}

#linkdiv-wrap{
    background-color: #464646;
}

#linkdiv-wrap div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#linkdiv-wrap div button{
    background-color: transparent;
    border: none;
}

#linkdiv-wrap div button i:hover{
    color: red;
}

.triangle{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 24px 32px 24px;
  border-color: transparent transparent #464646 transparent;
  transform: rotate(0deg);
}

#link-form{
    display: flex;
    transition-delay: 0ms;
    flex-direction: row;
    background-color: #464646;
    margin-top: -.05rem;
    padding: 1rem;
    transition-delay: 0ms;
}

#link-input{
    text-shadow: none;
    background-color: #464646;
    color: rgba(255, 255, 255, .71);
    border: none;
    width: 12rem;
    transition-delay: 0ms;
}

.drop-shadow{
    filter: drop-shadow(0 0 5px #000000);
}

.hidden{
    display: none;
}

/* Pomo page */

#return{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.pomo-todo-screen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.timer-btn-wrap{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.timer-btn{
    padding: .5rem 1rem .5rem 1rem;
    border: none;
    cursor: pointer;
}

.timer-btn:nth-child(1){
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.timer-btn:nth-child(2){
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

.timer-btn:nth-child(3){
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

.circle{
    width: 350px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 10px solid white;
    border-radius: 50%;
    position: relative;
}

.inner-circle{
    border-radius: inherit;
    inset: 2%;
    width: 96%;
    height: 96%;
    position: absolute;
}

.countdown{
    position: absolute;
    inset: 0;
    width: 94%;
    height: 94%;
    border-radius: inherit;
    box-shadow: 14px 14px 25px #292929, -14px -14px 25px #434343;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}







