@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Lato", sans-serif;
    text-shadow: 0px 0px 5px #242424;
}

body{
    background-repeat: repeat;
    image-rendering: pixelated;
    background-size: contain;
    background-position: center;
    min-height: 100vh;
    margin: 1rem;
}

.dash-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1{
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
}

.top-menu .link-contain{
    display: flex;
    flex-direction: row;
}

#link, #focus, #wordle, #calendar{
    display: flex;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
    margin-right: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
}

.link-contain svg{
    pointer-events: none;
}

.link-contain div:first-child{
    position: relative;
}

.link-contain div:first-child:hover .link-formwrap, .link-formwrap:hover, .link-formwrap:active{
    display: flex;
}

.link-formwrap{
    display: none;
    flex-direction: column;
    position: absolute;
    right: calc(-75px - 5rem);
    transition: all ease-in 2ms;
}

.show{
    display: flex;
}

.link-flex{
    display: flex;
    flex-direction: row;
    background-color: #464646;
    padding: 1rem .5rem .5rem .5rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.link-flex div{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
}

.link-flex button i:hover{
    color: red;
}

.link-flex p{
    font-size: 1rem;
}

.link-contain a{
    cursor: pointer;
}

#linkdiv-wrap{
    background-color: #464646;
}

#linkdiv-wrap div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#linkdiv-wrap div button{
    background-color: transparent;
    border: none;
}

#linkdiv-wrap div button i:hover{
    color: red;
}

.triangle{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 24px 32px 24px;
  border-color: transparent transparent #464646 transparent;
  transform: rotate(0deg);
}

#link-form{
    display: flex;
    transition-delay: 0ms;
    flex-direction: row;
    background-color: #464646;
    margin-top: -.05rem;
    padding: 1rem;
    transition-delay: 0ms;
}

#link-input{
    text-shadow: none;
    background-color: #464646;
    color: rgba(255, 255, 255, .71);
    border: none;
    width: 12rem;
    transition-delay: 0ms;
}

.drop-shadow{
    filter: drop-shadow(0 0 5px #000000);
}

.hidden{
    display: none;
}

/* Pomo page */

#return-pomo, #return-wordle{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.pomo-todo-screen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.timer-btn-wrap{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.timer-btn{
    padding: .5rem 1rem .5rem 1rem;
    border: none;
    cursor: pointer;
}

#pdoro{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
 
#pdoro:disabled{
    background: grey;
} 

#s-break{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

#s-break:disabled{
    background: grey;
}  

#l-break{
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
} 

#l-break:disabled{
    background: grey;
} 

.circle{
    width: 350px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
}

/* mask: radial-gradient(farthest-side, transparent 92%, black 91%); */

.inner-circle{
    border-radius: inherit;
    inset: 2%;
    width: 96%;
    transition: all .1s linear;
    height: 96%;
    position: absolute;
}

.countdown{
    position: absolute;
    inset: 0;
    width: 90%;
    height: 90%;
    border-radius: inherit;
    box-shadow: 14px 14px 25px #292929, -14px -14px 25px #434343;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#play-pause{
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.25rem;
    cursor: pointer;
}

#num-of-pd{
    font-size: 1rem;
}
/* Wordle Game */

.wordle-container{
    background: #464646;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.wordle-menu{
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.wordle-links{
   display: flex;
   column-gap: 2rem;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

#question-mark{
    margin-top: 1rem;
}

#settings{
    margin-top: 1rem;
}

.wordle-links a{
    fill: white;
    cursor: pointer;
    text-decoration: none;
    transition: fill 3ms ease;
}

.wordle-links a svg:hover{
    fill: #538D4E;
}

.wordle-menu p{
    margin-top: .5rem;
    font-size: 3rem;
    font-weight: 700;
}

#board{
    width: 320px;
    height: 420px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: .25rem;
    row-gap: .25rem;
}

.wordle-box{
    width: 60px;
    height: 60px;
    border: black solid 2px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: .5rem;
    row-gap: .25rem;
    width: auto;
    height: auto;
}

.k-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: .25rem;
}

.wordle-keys{
    width: auto;
    height: 70px;
    padding: 1rem;
    background-color:grey;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    border: solid 1px black;
    font-weight: bold;
}





