*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('images/luffy_img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}