*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-repeat: repeat;
    image-rendering: pixelated;
    background-size: contain;
    background-position: center;
    height: 100vh;
}