*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('images/luffy_img.jpeg');
    background-repeat: repeat-x;
    image-rendering: pixelated;
    background-size: contain;
    background-position: center;
    height: 100vh;
}